<mat-sidenav-container class="main-layout">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" class="mat-list-item"
               (closed)="events.push('close!')">
    <div fxLayout="column" fxLayoutAlign="center none">
      <mat-list-item class="list-item">
        <div fxLayout="row" fxLayoutAlign="start center" >
          <a [routerLink]="['product']">
            <mat-icon mat-list-icon>folder</mat-icon>
            <span mat-line>Sản phẩm</span>
          </a>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item">
        <div fxLayout="row" fxLayoutAlign="start center" >
          <a [routerLink]="['./product']">
            <mat-icon mat-list-icon>folder</mat-icon>
            <span mat-line>Bài viết</span>
          </a>
        </div>
      </mat-list-item>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
<!--    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>-->
<!--    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>-->
    <div class="main-container">
      <app-header-layout></app-header-layout>
      <app-slidebar-layout></app-slidebar-layout>
      <router-outlet></router-outlet>
      <app-footer-layout></app-footer-layout>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
