/deep/.mat-card-header-text {
   margin: 0 !important;
  width: 100%;
}
/deep/.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}
/deep/.w-timepicker-time-container {
  place-content: flex-end;
}
