/deep/.w-time {
  flex-direction: column !important;
}
/deep/.w-time .w-timepicker-time-container {
  padding: 15px;
  width: 100% !important;
}
/deep/.w-clock-wrapper .w-clock {
  padding: 12px !important;
  background: #0c0a0a !important;
}
/deep/.w-time .w-timepicker-time-container.mat-toolbar-single-row {
  height: 90px !important;
}
/deep/.w-timepicker-dialog {
  overflow: hidden !important;
  height: 400px !important;
  width: 400px !important;
  display: contents !important;
}
